.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 50px;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 80px;
  line-height: 80px;
  height: 80px;
  display: inline-block;
  text-decoration: none;
  color: black;
  font-weight: 700;
  background-color: #538fbe;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid black;
}

.game {
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
}
/* Game Info */
.status {
  margin-top: 10x px;
  margin-left: 90px;
  font-weight: bold;
  font-size: large;
}
.btn-warning {
  margin-left: 35px;
  margin-top: -720px;
}
